@model BehavioralReportEngine.Web.Models.ReportTemplate

@{
    ViewData["Title"] = "Delete ReportTemplate";
}

<h2>Delete Report Template</h2>

<div class="alert alert-warning">Are you sure you want to delete this report template?</div>

<dl class="row">
    <dt class="col-sm-3">Game Version</dt>
    <dd class="col-sm-9">@Model.GameVersion?.VersionNumber</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.ReportScope)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.ReportScope)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.TemplateName)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.TemplateName)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.VersionNumber)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.VersionNumber)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.IsActive)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.IsActive)</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ReportTemplateId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
