@model BehavioralReportEngine.Web.Models.GameSession

@{
    ViewData["Title"] = "GameSession Details";
}

<h2>Game Session Details</h2>

<dl class="row">
    <dt class="col-sm-3">Organization</dt>
    <dd class="col-sm-9">@Model.Organization?.Name</dd>
<dt class="col-sm-3">Game Version</dt>
    <dd class="col-sm-9">@Model.GameVersion?.VersionNumber</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.SessionCode)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.SessionCode)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.SessionName)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.SessionName)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.SessionDate)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.SessionDate)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.StartTime)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.StartTime)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.EndTime)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.EndTime)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.Location)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Location)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.Status)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Status)</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.SessionId" class="btn btn-primary">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
