@model BehavioralReportEngine.Web.Models.ReportTemplateModule

@{
    ViewData["Title"] = "Delete ReportTemplateModule";
}

<h2>Delete Report Template Module</h2>

<div class="alert alert-warning">Are you sure you want to delete this report template module?</div>

<dl class="row">
    <dt class="col-sm-3">Report Template</dt>
    <dd class="col-sm-9">@Model.ReportTemplate?.TemplateName</dd>
<dt class="col-sm-3">Report Module Type</dt>
    <dd class="col-sm-9">@Model.ReportModuleType?.Name</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.DisplayOrder)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.DisplayOrder)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.IsRequired)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.IsRequired)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.ConfigJson)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.ConfigJson)</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ReportTemplateModuleId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
