@model BehavioralReportEngine.Web.Models.ReportIndicatorScore

@{
    ViewData["Title"] = "Delete ReportIndicatorScore";
}

<h2>Delete Report Indicator Score</h2>

<div class="alert alert-warning">Are you sure you want to delete this report indicator score?</div>

<dl class="row">
    <dt class="col-sm-3">Report</dt>
    <dd class="col-sm-9">@Model.Report?.ReportTitle</dd>
<dt class="col-sm-3">Indicator Definition</dt>
    <dd class="col-sm-9">@Model.IndicatorDefinition?.TitleEn</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.ScoreValue)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.ScoreValue)</dd>
<dt class="col-sm-3">Scoring Scale</dt>
    <dd class="col-sm-9">@Model.ScoringScale?.Name</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.ObservedEvidence)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.ObservedEvidence)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.IndicatorBehaviors)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.IndicatorBehaviors)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.GrowthOpportunities)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.GrowthOpportunities)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.Strengths)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Strengths)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.PracticalRecommendation)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.PracticalRecommendation)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.IsAiGenerated)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.IsAiGenerated)</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ReportIndicatorScoreId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
