@model BehavioralReportEngine.Web.Models.IndicatorDefinition

@{
    ViewData["Title"] = "IndicatorDefinition Details";
}

<h2>Indicator Definition Details</h2>

<dl class="row">
    <dt class="col-sm-3">Game Version</dt>
    <dd class="col-sm-9">@Model.GameVersion?.VersionNumber</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.IndicatorCode)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.IndicatorCode)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.Title)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Title)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.TitleEn)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.TitleEn)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.ShortDefinition)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.ShortDefinition)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.DisplayOrder)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.DisplayOrder)</dd>
<dt class="col-sm-3">Scoring Scale</dt>
    <dd class="col-sm-9">@Model.ScoringScale?.Name</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.IsActive)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.IsActive)</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.IndicatorDefinitionId" class="btn btn-primary">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
