@model BehavioralReportEngine.Web.Models.Organization

@{
    ViewData["Title"] = "Organization Details";
}

<h2>Organization Details</h2>

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.OrganizationCode)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.OrganizationCode)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.Name)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Name)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.Industry)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Industry)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.Country)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Country)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.IsActive)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.IsActive)</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.OrganizationId" class="btn btn-primary">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
