@model BehavioralReportEngine.Web.Models.Observation

@{
    ViewData["Title"] = "Observation Details";
}

<h2>Observation Details</h2>

<dl class="row">
    <dt class="col-sm-3">Game Session</dt>
    <dd class="col-sm-9">@Model.GameSession?.SessionName</dd>
<dt class="col-sm-3">Participant</dt>
    <dd class="col-sm-9">@Model.Participant?.FirstNameFa</dd>
<dt class="col-sm-3">Team</dt>
    <dd class="col-sm-9">@Model.Team?.TeamName</dd>
<dt class="col-sm-3">App User</dt>
    <dd class="col-sm-9">@Model.AppUser?.FullName</dd>
<dt class="col-sm-3">Indicator Definition</dt>
    <dd class="col-sm-9">@Model.IndicatorDefinition?.TitleEn</dd>
<dt class="col-sm-3">Behavioral Pattern</dt>
    <dd class="col-sm-9">@Model.BehavioralPattern?.NameEn</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.ObservationTimeMs)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.ObservationTimeMs)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.ObservationText)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.ObservationText)</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.ObservationId" class="btn btn-primary">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
