@model BehavioralReportEngine.Web.Models.ReportModule

@{
    ViewData["Title"] = "ReportModule Details";
}

<h2>Report Module Details</h2>

<dl class="row">
    <dt class="col-sm-3">Report</dt>
    <dd class="col-sm-9">@Model.Report?.ReportTitle</dd>
<dt class="col-sm-3">Report Module Type</dt>
    <dd class="col-sm-9">@Model.ReportModuleType?.Name</dd>
<dt class="col-sm-3">Indicator Definition</dt>
    <dd class="col-sm-9">@Model.IndicatorDefinition?.TitleEn</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.DisplayOrder)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.DisplayOrder)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.ContentText)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.ContentText)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.ContentHtml)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.ContentHtml)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.IsAiGenerated)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.IsAiGenerated)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.AiModel)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.AiModel)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.AiPromptRef)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.AiPromptRef)</dd>
<dt class="col-sm-3">App User</dt>
    <dd class="col-sm-9">@Model.AppUser?.FullName</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.ReviewedAt)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.ReviewedAt)</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.ReportModuleId" class="btn btn-primary">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
