@model BehavioralReportEngine.Web.Models.ActionPlanItem

@{
    ViewData["Title"] = "ActionPlanItem Details";
}

<h2>Action Plan Item Details</h2>

<dl class="row">
    <dt class="col-sm-3">Report</dt>
    <dd class="col-sm-9">@Model.Report?.ReportTitle</dd>
<dt class="col-sm-3">Indicator Definition</dt>
    <dd class="col-sm-9">@Model.IndicatorDefinition?.TitleEn</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.ActionDescription)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.ActionDescription)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.TimeFrame)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.TimeFrame)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.Priority)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Priority)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.DisplayOrder)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.DisplayOrder)</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.ActionPlanItemId" class="btn btn-primary">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
