@model BehavioralReportEngine.Web.Models.MediaAsset

@{
    ViewData["Title"] = "MediaAsset Details";
}

<h2>Media Asset Details</h2>

<dl class="row">
    <dt class="col-sm-3">Game Session</dt>
    <dd class="col-sm-9">@Model.GameSession?.SessionName</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.MediaType)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.MediaType)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.FileName)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.FileName)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.StoragePath)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.StoragePath)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.DurationSeconds)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.DurationSeconds)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.RecordedAt)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.RecordedAt)</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.MediaAssetId" class="btn btn-primary">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
