@model BehavioralReportEngine.Web.Models.ReportModuleType

@{
    ViewData["Title"] = "Delete ReportModuleType";
}

<h2>Delete Report Module Type</h2>

<div class="alert alert-warning">Are you sure you want to delete this report module type?</div>

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.ModuleCode)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.ModuleCode)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.Name)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Name)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.Description)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Description)</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="ReportModuleTypeId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
