@model BehavioralReportEngine.Web.Models.GameType

@{
    ViewData["Title"] = "GameType Details";
}

<h2>Game Type Details</h2>

<dl class="row">
    <dt class="col-sm-3">@Html.DisplayNameFor(m => m.TypeCode)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.TypeCode)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.NameFa)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.NameFa)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.NameEn)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.NameEn)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.Description)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.Description)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.IsActive)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.IsActive)</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.GameTypeId" class="btn btn-primary">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
