@model BehavioralReportEngine.Web.Models.TranscriptSegment

@{
    ViewData["Title"] = "Delete TranscriptSegment";
}

<h2>Delete Transcript Segment</h2>

<div class="alert alert-warning">Are you sure you want to delete this transcript segment?</div>

<dl class="row">
    <dt class="col-sm-3">Transcript</dt>
    <dd class="col-sm-9">@Model.Transcript?.TranscriptId</dd>
<dt class="col-sm-3">Participant</dt>
    <dd class="col-sm-9">@Model.Participant?.FirstNameFa</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.SpeakerLabel)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.SpeakerLabel)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.StartTimeMs)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.StartTimeMs)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.EndTimeMs)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.EndTimeMs)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.SegmentText)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.SegmentText)</dd>
</dl>

<form asp-action="Delete" method="post">
    <input type="hidden" asp-for="TranscriptSegmentId" />
    <button type="submit" class="btn btn-danger">Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>
