@model BehavioralReportEngine.Web.Models.TranscriptSegment

@{
    ViewData["Title"] = "TranscriptSegment Details";
}

<h2>Transcript Segment Details</h2>

<dl class="row">
    <dt class="col-sm-3">Transcript</dt>
    <dd class="col-sm-9">@Model.Transcript?.TranscriptId</dd>
<dt class="col-sm-3">Participant</dt>
    <dd class="col-sm-9">@Model.Participant?.FirstNameFa</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.SpeakerLabel)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.SpeakerLabel)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.StartTimeMs)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.StartTimeMs)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.EndTimeMs)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.EndTimeMs)</dd>
<dt class="col-sm-3">@Html.DisplayNameFor(m => m.SegmentText)</dt>
    <dd class="col-sm-9">@Html.DisplayFor(m => m.SegmentText)</dd>
</dl>

<a asp-action="Edit" asp-route-id="@Model.TranscriptSegmentId" class="btn btn-primary">Edit</a>
<a asp-action="Index" class="btn btn-secondary">Back to List</a>
